<link href="../static/datatables/media/css/jquery.dataTables.css" rel="stylesheet">
<link href="../static/datatables/jquery-ui-1.8.4.custom.css" rel="stylesheet">

<style type="text/css">
    table .demo-button{
        margin-top: 0;
        padding: 4px 10px;
    }
</style>
<div class="container" style="padding-top: 30px;padding-bottom: 100px;">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="app_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PackageName</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script src="../static/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../static/js/data.js"></script>
