<link href="../static/datatables/media/css/demo_page.css" rel="stylesheet">
<link href="../static/datatables/media/css/demo_table_jui.css" rel="stylesheet">
<link href="../static/datatables/examples/examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css" rel="stylesheet">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>PakageName</th>
            <th>Category</th>
            <th>More<th>
        </tr>
    </thead>
	<tbody></tbody>
	<tfoot>
        <tr>
            <th><input type="text" name="filter_id" value=" filter" class="search_init" /></th>
            <th><input type="text" name="filter_name" value=" filter" class="search_init" /></th>
            <th><input type="text" name="filter_pakage_name" value=" filter" class="search_init" /></th>
            <th><input type="text" name="filter_category" value=" filter" class="search_init" /></th>
            <th></th>
        </tr>
	</tfoot>
</table>